[Unit]
Description=Raspberry Sprinkles API
After=network.service

StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/git/raspberry-sprinkles/rsapi.py

Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target